<h1>Tasks#edit</h1>
<h1>Update a Task</h1>
<%= render partial: "form" %>

<!-- Another way to do it... -->
<!-- <%= render #partial: "form", locals: {action_name: "update"} %> -->
<!-- Don't need controller stuff if you do this -->



