<h1>Tasks#update</h1>
<p><%=@my_task.completed_at %><p>
<table>
	<td><%= link_to(@my_task.title, show_path(@my_task.id))%></td>
	<td><%= @my_task.description%></td>
	<td><%= @my_task.completed_at.strftime("%m/%d/%Y %H:%M") unless @my_task.completed_at ==nil%></td>
</table>
